.GameDisplay{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:baseline;
}

.GoalArticleInformation{
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

#GoalDescription{
    border: thick;
}