<table *ngIf="CurrentArticle">
    <thead>
        {{CurrentArticle}}
    </thead>
    <tbody>
        <input type="text" placeholder="Filter results" (input)="FilterLinks($event.target.value)" #filterInput>
        <div class="linkContainer" ng-disabled="true">
            <tr *ngFor="let button of buttons_filtered; let i = index">
                <app-link-button (index)="SelectionMade(i)" [Content]="buttonContents_filtered[i]"></app-link-button>
            </tr>
        </div>
    </tbody>
</table>
